@font-face {
    font-family: 'DIN';
    src: url('DIN-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('start.png');
    background-size: cover;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
}

#clock {
    font-size:10vw;
    text-align: left;
    font-family: 'DIN';
    color: #703434;
    position: fixed;
    top:13vw;
    left: 7.8vw;
}
#date {
    font-size:2.6vw;
    text-align: left;
    font-family: 'Roboto', sans-serif, '微软雅黑';
    color: #703434;
    position: fixed;
    top: 25vw;
    left: 7.8vw;
}